---
import Section from "../Section.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import GitHub from "@/icons/GitHub.astro";
import Mail from "@/icons/Mail.astro";
import type { SocialIcon } from "@/types";

import { basics } from "@cv";
const { summary, image, name, profiles, email } = basics;

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
};
---

<Section id="about-section">
  <div class="container">
    <div class="box left">
      <p>
        {summary}
      </p>
    </div>
    <div class="box right">
      <img src={image} alt={name} />
      <footer>
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Contactame por correo`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Mail />
            </a>
          )
        }
        {
          profiles.map(({ network, url }) => {
            const Icon = SOCIAL_ICONS[network];

            return (
              <a
                href={url}
                title={`Visita mi perfil en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
    </div>
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .left {
    text-align: left;
  }
  /* Contenedor de la foto y el listado de iconos bajo la foto  */
  .right {
    display: flex;
    flex-direction: column;
    padding: 20px;

    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      width: 128px;
      border-radius: 100px;
    }
    /* Contenedor del listado de iconos bajo la foto */
    footer {
      color: #555;
      display: flex;
      gap: 4px;
      margin-top: 5px;
    }
    /* Lisatdo de iconos bajo la foto */
    footer a {
      color: #777;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #eee;
      padding: 4px;
      height: 36px;
      width: 36px;
      border-radius: 6px;
      transition: all 0.3s ease;
    }
    footer a:hover {
      background: #eee;
      border: 1px solid #ddd;
    }
  }

  @media (width <= 700px) {
    .container {
      flex-direction: column;
    }
  }
  
</style>
