---
import Section from "../Section.astro"

import { header } from "@cv"
const { menu, atajo1, atajo2, atajo3 } = header
---

<Section>
<div class="container">
    <div class="logo">
        <h1>{menu}</h1>
    </div>
    <div class="atajos">
        <a href="#name-section"><p data-value={atajo1}>{atajo1}</p></a>
        <a href="#about-section"><p data-value={atajo2}>{atajo2}</p></a>
        <a href="#projects-section"><p data-value={atajo3}>{atajo3}</p></a>
    </div>
</div>
</Section>

<style>
    .container{
        display: flex;
        justify-content: space-between;
        place-items: center;
    }
    .logo{
        h1{
        font-family: "Barlow", sans-serif;
        font-size: clamp(1.5rem, 5vw, 1rem);
        border: 1px solid black;
        font-weight: 700;
        padding: 5px;
        }
    }
    .atajos{
        display: flex;
        cursor: pointer;
        p {
            font-family: 'Space Mono', monospace;
            color: rgb(0, 0, 0);
            padding: 0rem clamp(1rem, 1vw, 1rem);
            border-radius: clamp(0.4rem, 0.75vw, 1rem);
        }

        p:hover {
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
        }
        }

    @media (width <= 700px) {
      .logo{
        h1{
          font-size: 20px;
        }
      }
      .atajos{
        justify-content: right;
        p{
          font-size: 10.5px;
        }
      }
    }
</style>

<script>
const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

document.querySelectorAll("p[data-value]").forEach((pElement) => {
  const p = pElement as HTMLParagraphElement; 

  let interval: number | null = null; 

  p.onmouseover = () => {
    let iteration = 0;

    if (interval !== null) clearInterval(interval);

    interval = window.setInterval(() => {
      p.innerText = p.innerText
        .split("")
        .map((letter, index) => {
          if (index < iteration) {
            return p.dataset.value![index]; 
          }

          return letters[Math.floor(Math.random() * 26)];
        })
        .join("");

      if (iteration >= p.dataset.value!.length) {
        clearInterval(interval);
      }

      iteration += 1 / 3;
    }, 30);
  };
});

</script>